@import "compass/css3";

html {font-size:16px;}

body { font-family:"Helvetica Neue", Helvetica, sans-serif; margin:0; text-align:center; }

h1 { line-height:100px; margin:0; }

/*jumbotron class*/
.j-color{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color:#faf9f7;
}
.my-bg {
  background:#222;
  height:100%;
  max-height:468px;
  width:100%;
  clear:both;
  margin-bottom:200px;

  background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-1.jpg) no-repeat center center;
  background-size:cover;

  @media (min-width:641px) and (max-width:1024px) {
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-2.jpg) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1025px) and (max-width:1200px) {
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-3.jpg) no-repeat center center;
    background-size:cover;
  }

  @media (min-width:1501px){
    background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-4.jpg) no-repeat center center;
    background-size:cover;
  }

}
/*text*/
.my-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

h2 {
  color:#fff;
  font-size:3em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin:0 0 20px;
  opacity: 0.5;
}
        #wrap {
      max-width: 500px;
      position: relative;
    }

    input[szn-autocomplete],
    .szn-autocomplete-shadow-input {
      width: 100%;
      border: 1px solid #707070;
      color: #222;
      padding: 5px 10px;
      font-size: 16px;
      box-sizing: border-box;
    }

    .szn-autocomplete-shadow-input {
      color: #666;
    }

    .szn-autocomplete-results {
      padding: 0;
      width: 100%;
    }

    .szn-autocomplete-results li {
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }

    .szn-autocomplete-results h5 {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
    }

    .szn-autocomplete-results p {
      margin: 0;
      white-space: normal;
      font-size: 13px;
    }

    .szn-autocomplete-results .wordcount {
      font-size: 13px;
      color: #707070;
    }
    .txt-left{
      font-size: 16px;
      text-align: left;
      border-bottom:1px solid;
    }


